.post
  %h2.title Welcome to your tennis hub!
  .entry
    %p
      Create an account to meet fellow tennis players.
    %br
    %h3
      = link_to "Login", new_user_session_path
      |
      = link_to "Create new account", new_user_registration_path

